*{
    margin: 0;
}

.profiles{
background-color:#2ED171;
color:white;
border-radius:30px;
margin-right: 10px;
};

body h1 h2 h3 h4 h5 h6 p {
/* font-family: "Karma", sans-serif; */
padding: 20px;
}

h1,h2,p{
    font-family: "Karma", sans-serif;
    padding: 20px;
}

a{
    color: white;
}


.card-1{
    margin-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 5px;
    background-color: #4646FF;
    color: white;
    border: 1px;
    border-style:outset;
}

.card-2{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5px;
    background-color: #6F6FFF;
    color: white;
    border: 1px;
    border-style:outset;
    margin-bottom: 5px;
}

.card-3{    
    margin-top: 20px;
    border-radius: 20px;
    padding: 8px;
    background-color: red;
    color: white;
}

.navbar{
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,2,0,1) 0%, rgba(170,60,71,1) 0%, rgba(122,93,111,1) 0%, rgba(23,64,153,1) 0%, rgba(0,190,228,1) 100%);
}

.title{
    font-size:larger;
}

.content{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}


